<!DOCTYPE html>
{% load static %}
<html lang="en" class="light-style customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="{% static 'assets/' %}" data-template="vertical-menu-template-free">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tizimga kirish</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon/favicon.ico' %}" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans&display=swap" rel="stylesheet" />

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/theme-default.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
  </head>

  <body>
    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <h1 class="mb-4 text-center display-4">Login</h1>
          <!-- Login -->
          <div class="card">
            <div class="card-body">

              <h4 class="mb-2">Xush kelibsiz 👋</h4>
              <p class="mb-4">Iltimos tizimga kirish uchun ma'lumotlaringizni kiriting</p>

              <form id="formAuthentication" class="mb-3" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                {% if form.errors %}
                  <div class="alert alert-danger">
                    Login yoki parol noto'g'ri
                  </div>
                {% endif %}

                <div class="mb-3">
                  <label for="username" class="form-label">Foydalanuvchi nomi</label>
                  <input type="text" class="form-control" id="username" name="username" required autofocus />
                </div>

                <div class="mb-3 form-password-toggle">
                  <label class="form-label" for="password">Parol</label>
                  <div class="input-group input-group-merge">
                    <input type="password" id="password" class="form-control" name="password" required />
                    <span class="input-group-text cursor-pointer">
                      <i class="bx bx-hide"></i>
                    </span>
                  </div>
                </div>

                <div class="mb-3">
                  <button class="btn btn-primary d-grid w-100" type="submit">Kirish</button>
                </div>
              </form>

              <p class="text-center">
                Parolingizni unutdingizmi?
                <a href="#">Qayta tiklash</a>
              </p>
            </div>
          </div>
          <!-- /Login -->
        </div>
      </div>
    </div>

    <!-- JS -->
    <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
