{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">

  <!-- Header va +Yangi Chiqim Button (modal ochadi) -->
  <div class="d-flex justify-content-between align-items-cout mb-4">
    <h3>Chiqimlar</h3>
    <a href="{% url 'add_out' %}" class="btn btn-primary">+ Yangi Chiqim</a>
  </div>

<div class="card mb-4">
    <div class="card-header">Filter</div>
    <div class="card-body">
      <form method="GET" class="row g-3" action="{% url 'filter_out' %}">
        <div class="col-md-6">
          <input type="text" name="search" class="form-control" placeholder="Tavsif orqali qidiruv..." value="{{ request.GET.search }}">
        </div>
        <div class="col-md-2">
          <input type="date" name="start_date" class="form-control" value="{{ request.GET.date }}">
        </div>
        <div class="col-md-2">
            <input type="date" name="end_date" class="form-control" value="{{ request.GET.date }}">
          </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-secondary w-100">Qidirish</button>
        </div>
      </form>
    </div>
  </div>


  <!-- Chiqimlar jadvali -->
  <div class="card">
    <div class="card-header">Chiqimlar Ro‘yxati</div>
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Tavsif</th>
            <th>Soni</th>
            <th>Sana</th>
            <th>Amallar</th>
            <th>Mijoz</th>
          </tr>
        </thead>
        <tbody>
          {% for out in outs %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ out.description | truncatechars:50 }}</td>
            <td>{{ out.get_total_products }}</td>
            <td>{{ out.created_at|date:"Y-m-d H:i" }}</td>
            <td>
              <a href="{% url 'out_item' out.id %}" class="btn btn-sm btn-info">
                Ko‘rish
              </a>
            </td>
            <td>{{ out.customer.username }}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="4" class="text-cout">Hozircha Chiqimlar mavjud emas.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
